
body {
    background-color: #242424;
    width: 100%;
    
    overflow: hidden;
}

.bg_img {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%; 
}

.bg_img img {
    width: 70vh;
    display: block;
    position: relative;
}

.bg_img .social {
    position: absolute;
    width: 50px;
    top: 50%;
    right: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 30;
    padding: 25px 0px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.bg_img .social .fa{
    color: #68725D;
    font-size: 25px;
}

.bg_img .social a {
    color:#68725D;
    font-size: 25px;
}

.bg_img .social a + .fa{
    margin-top: 15px;
}

.bg_img .social .fa + a{
    margin-top: 15px;
}

.container_{
    display: block;
    box-sizing: border-box;
    max-width: 1650px;
    width: 90%;
    padding: 50px 110px 130px;
    color: #fff;
    position: relative;
    z-index: 10;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

header .logo {
    width: 20%;
    font-size: 20px;
    color: #68725D;
    cursor: pointer;
    }

header .logo img{
    width: 20vh;
}

header ul {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

header ul li {
    font-size: 16px;
    color: #658443;
    position: relative;
    cursor: pointer;
}
header ul li a{
    color: #658443;
    text-decoration: none;
    font-weight: 600;
}

header ul li + li {
    margin-left: 50px;
}

header ul li.active {
    color: #babbbf;
}

header ul li a:hover{
    color: ghostwhite;
}

header ul li.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 20px;
    height: 2px;
    background-color: #babbbf;
    transform: translateX(-50%);
}

header .search_nav{
    display: flex;
    justify-content: flex-end;
    color:#000;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

header .search_nav .fa{
    font-size: 20px;
}

header .search_nav .fa + .fa{
    margin-left: 30px;
}

header .search_nav .fa:hover{
    color:#68725D;
}

.background {
    background-color:#cccc;
    width: 1550px;
    text-align:center;
    height:1500px;
    line-height:40px;
    position: absolute;
    left: 700;
    top: 30px;
    transform: rotate(-45deg);
    position: relative;
}

/* BASER CSS  END*/
.section h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    position: relative;
    width: fit-content;
    z-index: 20;
    bottom: 70px;
}
.section .new_row{
    position: relative;
    bottom: 300px
}


.columns .image {
    transform: scale(0.5);
    position: relative;
    bottom: 260px;
    position: relative;
    z-index: 20;
    right: 100px;
}

.columns .image img{
    border-radius: 20px;
}

.columns .column h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:#658443;
    position: relative;
    width: fit-content;
    z-index: 20;
    bottom: 99%;
    left: 62%;
}

.columns .column p {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color:#68725D;
    position: relative;
    width: fit-content;
    z-index: 20;
    bottom: 96%;
    left: 65%;
    
}

@media(max-width:2230px) and (min-width: 555px){
    header .logo .black_logo{
        display: none;
    }
    
}

@media(max-width:1230px){
    .card_container{
        display: none;
    }

    menu {
        display: flex;
        align-items: center;
    }

    menu ul{
        display: none;
        list-style-type: none;
        padding: 0;
    }

    menu ul li{
        margin: 10px 0;
    }

    menu.active ul{
        display: block;
    }

    .logo {
        transform: scale(1.7);
    }
}

@media(max-width:720px){

    header{
        position: relative;
        left: 100px;
    }

    header .logo .black_logo{
        transform: scale(3);
        position: relative;
        right: 80px;
        top: 5px
    }

    header .logo .grey_logo{
        display: none;
    }
}
